In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

In [2]:
X = train.iloc[:,2:]
y = train.iloc[:,1]

In [10]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18510 non-null  int64
 1   ADDRESS           18510 non-null  object
 2   SUBURB            18510 non-null  object
 3   PRICE             18510 non-null  int64
 4   BEDROOMS          18510 non-null  int64
 5   BATHROOMS         18510 non-null  int64
 6   GARAGE            18510 non-null  float64
 7   LAND_AREA         18510 non-null  int64
 8   FLOOR_AREA        18510 non-null  int64
 9   BUILD_YEAR        16782 non-null  float64
 10  CBD_DIST          18510 non-null  int64
 11  NEAREST_STN       18510 non-null  object
 12  NEAREST_STN_DIST  18510 non-null  int64
 13  DATE_SOLD         18510 non-null  object
 14  POSTCODE          18510 non-null  int64
 15  LATITUDE          18510 non-null  float64
 16  LONGITUDE         18510 non-null  float64
 17  NEAREST_SCH       18510 non-null  object
 18  NEAREST_SCH_DIST  18510 non-null  float64
 19  NEAREST_SCH_RANK  12510 non-null  float64
dtypes: float64(6), int64(9), object(5)
memory usage: 2.8+ MB

In [6]:
train["GARAGE"].value_counts()

2.0     11378
1.0      2906
3.0      1153
4.0      1096
6.0       246
5.0       178
8.0        63
7.0        54
12.0       16
10.0       12
9.0        10
14.0        7
13.0        7
11.0        6
16.0        3
20.0        2
17.0        1
18.0        1
32.0        1
21.0        1
26.0        1
99.0        1
Name: GARAGE, dtype: int64

In [9]:
train["GARAGE"] = train["GARAGE"].fillna(2.0)

In [7]:
train["BUILD_YEAR"].value_counts()

2006.0    522
2000.0    511
2002.0    498
2007.0    489
2004.0    487
         ...
1889.0      1
1892.0      1
1907.0      1
1897.0      1
1941.0      1
Name: BUILD_YEAR, Length: 120, dtype: int64

In [11]:
train["BUILD_YEAR"] = train["BUILD_YEAR"].fillna(2006.0)

In [8]:
train["NEAREST_SCH_RANK"].value_counts()

53.0     414
92.0     386
129.0    380
131.0    306
35.0     300
        ...
71.0      13
55.0      13
88.0      10
5.0        3
15.0       2
Name: NEAREST_SCH_RANK, Length: 103, dtype: int64

In [12]:
train["NEAREST_SCH_RANK"] = train["NEAREST_SCH_RANK"].fillna(53.0)

In [4]:
train.isnull().sum()

ID                     0
ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [15]:
test.isnull().sum()

ID                  0
ADDRESS             0
SUBURB              0
BEDROOMS            0
BATHROOMS           0
GARAGE              0
LAND_AREA           0
FLOOR_AREA          0
BUILD_YEAR          0
CBD_DIST            0
NEAREST_STN         0
NEAREST_STN_DIST    0
DATE_SOLD           0
POSTCODE            0
LATITUDE            0
LONGITUDE           0
NEAREST_SCH         0
NEAREST_SCH_DIST    0
NEAREST_SCH_RANK    0
dtype: int64

In [14]:
test["GARAGE"] = test["GARAGE"].fillna(2.0)
test["BUILD_YEAR"] = test["BUILD_YEAR"].fillna(2006.0)
test["NEAREST_SCH_RANK"] = test["NEAREST_SCH_RANK"].fillna(53.0)

In [16]:
X

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0
3,Mount Hawthorn,1230000,2,1,2.0,425,185,1938.0,3500,Leederville Station,1500,07-2020\r,6016,-31.926046,115.838181,ARANMORE CATHOLIC COLLEGE,0.484465,106.0
4,North Fremantle,2010000,3,2,2.0,546,186,2004.0,12900,North Fremantle Station,800,10-2017\r,6159,-32.032079,115.759626,JOHN CURTIN COLLEGE OF THE ARTS,1.869050,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18505,Hocking,475000,4,2,2.0,533,198,2007.0,21200,Edgewater Station,4400,04-2018\r,6065,-31.764187,115.824151,WANNEROO SECONDARY COLLEGE,1.104533,131.0
18506,Champion Lakes,485000,3,2,2.0,344,237,2010.0,22100,Kelmscott Station,1900,06-2011\r,6111,-32.114990,115.992834,JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL,1.816768,40.0
18507,Redcliffe,642000,3,1,1.0,1016,110,1953.0,8900,Bassendean Station,3100,01-2018\r,6104,-31.931320,115.950060,CYRIL JACKSON SENIOR CAMPUS,2.169696,NaN
18508,Samson,491000,4,2,2.0,718,176,1988.0,14600,Murdoch Station,5400,03-2009\r,6163,-32.070861,115.793834,SETON CATHOLIC COLLEGE,0.208669,91.0
18509,Koondoola,490000,4,1,2.0,1030,109,1987.0,11600,Warwick Station,6400,09-2013\r,6064,-31.848240,115.864000,MERCY COLLEGE,0.618862,46.0

In [17]:
categorical_features = ['NEAREST_STN','NEAREST_SCH']

In [18]:
for feature_name in categorical_features :
    one_hot = pd.get_dummies(train[feature_name], prefix=feature_name)
    train = pd.concat([train,one_hot], axis=1)        # 기존 데이터 끝에 one_hot을 붙임
    train.drop(feature_name, axis=1, inplace=True)

In [19]:
for feature_name in categorical_features :
    one_hot = pd.get_dummies(test[feature_name], prefix=feature_name)
    test = pd.concat([test,one_hot], axis=1)        # 기존 데이터 끝에 one_hot을 붙임
    test.drop(feature_name, axis=1, inplace=True)

In [20]:
train.shape, test.shape

((18510, 245), (15146, 244))

In [21]:
set(train.columns) - set(test.columns)

{'NEAREST_SCH_FAIRBRIDGE COLLEGE', 'PRICE'}

In [22]:
train.sort_index(axis=1, inplace=True)
test.sort_index(axis=1, inplace=True)

In [23]:
train.columns

Index(['ADDRESS', 'BATHROOMS', 'BEDROOMS', 'BUILD_YEAR', 'CBD_DIST',
       'DATE_SOLD', 'FLOOR_AREA', 'GARAGE', 'ID', 'LAND_AREA',
       ...
       'NEAREST_STN_Warnbro Station', 'NEAREST_STN_Warwick Station',
       'NEAREST_STN_Wellard Station', 'NEAREST_STN_Welshpool Station',
       'NEAREST_STN_West Leederville Station', 'NEAREST_STN_Whitfords Station',
       'NEAREST_STN_Woodbridge Station', 'POSTCODE', 'PRICE', 'SUBURB'],
      dtype='object', length=245)

In [24]:
test.columns

Index(['ADDRESS', 'BATHROOMS', 'BEDROOMS', 'BUILD_YEAR', 'CBD_DIST',
       'DATE_SOLD', 'FLOOR_AREA', 'GARAGE', 'ID', 'LAND_AREA',
       ...
       'NEAREST_STN_Vic', 'NEAREST_STN_Warnbro Station',
       'NEAREST_STN_Warwick Station', 'NEAREST_STN_Wellard Station',
       'NEAREST_STN_Welshpool Station', 'NEAREST_STN_West Leederville Station',
       'NEAREST_STN_Whitfords Station', 'NEAREST_STN_Woodbridge Station',
       'POSTCODE', 'SUBURB'],
      dtype='object', length=244)

In [25]:
from sklearn.model_selection import train_test_split   # 트레인과 테스트를 알아서 나눠죠
X_train, X_test, y_train, y_test = train_test_split(X,               #독립 변수 
                                                    y,               #종속 변수
                                                    test_size=0.3,   #검증 30%   => 트레인 사이트는 70으 된다.
                                                    random_state=10)

In [26]:
X_train = train.drop(['ADDRESS','SUBURB','DATE_SOLD','NEAREST_SCH_FAIRBRIDGE COLLEGE'], axis=1)
y_train = train.PRICE
X_test = test.drop(['ADDRESS','SUBURB','DATE_SOLD'], axis=1)

In [27]:
X_train.shape, y_train.shape, X_test.shape

((18510, 241), (18510,), (15146, 241))

In [35]:
from sklearn.linear_model import LinearRegression

# 단순회귀분석 모형 객체 생성
lr = LinearRegression()  

# train data를 가지고 모형 학습  
# 훈련은 fit 함수로 진행한다.   
# fit함수로 모델구축할 때는 test가 아니라 train data로 한다.
lr.fit(X_train, y_train)

LinearRegression()

In [36]:
lr_pred = lr.predict(X_test)

C:\Users\AI\Anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- NEAREST_SCH_SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE
Feature names seen at fit time, yet now missing:
- PRICE

  warnings.warn(message, FutureWarning)