In [1]:
import pandas as pd

train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [4]:
print(train.shape)
print(test.shape)

(18510, 20)
(15146, 19)

In [2]:
train.isnull().sum()

ID                     0
ADDRESS                0
SUBURB                 0
PRICE                  0
BEDROOMS               0
BATHROOMS              0
GARAGE              1367
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1728
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    6000
dtype: int64

In [3]:
test.isnull().sum()

ID                     0
ADDRESS                0
SUBURB                 0
BEDROOMS               0
BATHROOMS              0
GARAGE              1111
LAND_AREA              0
FLOOR_AREA             0
BUILD_YEAR          1427
CBD_DIST               0
NEAREST_STN            0
NEAREST_STN_DIST       0
DATE_SOLD              0
POSTCODE               0
LATITUDE               0
LONGITUDE              0
NEAREST_SCH            0
NEAREST_SCH_DIST       0
NEAREST_SCH_RANK    4952
dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18510 entries, 0 to 18509
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18510 non-null  int64
 1   ADDRESS           18510 non-null  object
 2   SUBURB            18510 non-null  object
 3   PRICE             18510 non-null  int64
 4   BEDROOMS          18510 non-null  int64
 5   BATHROOMS         18510 non-null  int64
 6   GARAGE            17143 non-null  float64
 7   LAND_AREA         18510 non-null  int64
 8   FLOOR_AREA        18510 non-null  int64
 9   BUILD_YEAR        16782 non-null  float64
 10  CBD_DIST          18510 non-null  int64
 11  NEAREST_STN       18510 non-null  object
 12  NEAREST_STN_DIST  18510 non-null  int64
 13  DATE_SOLD         18510 non-null  object
 14  POSTCODE          18510 non-null  int64
 15  LATITUDE          18510 non-null  float64
 16  LONGITUDE         18510 non-null  float64
 17  NEAREST_SCH       18510 non-null  object
 18  NEAREST_SCH_DIST  18510 non-null  float64
 19  NEAREST_SCH_RANK  12510 non-null  float64
dtypes: float64(6), int64(9), object(5)
memory usage: 2.8+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15146 entries, 0 to 15145
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                15146 non-null  int64
 1   ADDRESS           15146 non-null  object
 2   SUBURB            15146 non-null  object
 3   BEDROOMS          15146 non-null  int64
 4   BATHROOMS         15146 non-null  int64
 5   GARAGE            14035 non-null  float64
 6   LAND_AREA         15146 non-null  int64
 7   FLOOR_AREA        15146 non-null  int64
 8   BUILD_YEAR        13719 non-null  float64
 9   CBD_DIST          15146 non-null  int64
 10  NEAREST_STN       15146 non-null  object
 11  NEAREST_STN_DIST  15146 non-null  int64
 12  DATE_SOLD         15146 non-null  object
 13  POSTCODE          15146 non-null  int64
 14  LATITUDE          15146 non-null  float64
 15  LONGITUDE         15146 non-null  float64
 16  NEAREST_SCH       15146 non-null  object
 17  NEAREST_SCH_DIST  15146 non-null  float64
 18  NEAREST_SCH_RANK  10194 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 2.2+ MB